.striker{
    text-decoration: line-through;
}

.wish-table {
    max-height:100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 50px 0 50px;
}

.wish-table:last-child {
    padding: 50px;
}