{% extends 'base.html' %}
{% load static %}
{% block content %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href=""> Your Next Destination Wish</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

 </ul>
    <form class="form-inline my-2 my-lg-0" method ="POST">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Add Location" aria-label="Search" name="item">
      <br>
      <button class="btn btn-outline-secondary my-2 my-sm-0 bg-dark" type="submit">Add to list</button>
    </form>
  </div>
</nav>


{% if messages %}
{% for messages in messages %}

{% comment %} <div class="alert alert-warning alert-dissable" role="alert">
    <button class="close" data-dismiss="alert"> {% endcomment %}
        <small><sup>{{ message }}</sup></small>
    {% comment %} </button>
    {{ message }} {% endcomment %}

</div>
{% endfor %}
{% endif %}

{% if my_items %}
<div class="wish-table">
  <h3>My Wishlist</h3>
  <table class ="table table-bordered">
  {% for things in my_items %}
    {% if  things.completed %}
      <tr>
        <td class ="table-success">{{ things.item }}</td> 
        <td class ="table-success"><center><a href="{% url 'uncross' things.id %}">Uncross</a></center></td>
        <td class ="table-success"><center><a href="{% url 'delete' things.id %}">Delete</a></center></td>
        <td class ="table-success"><center>{{things.author}}</center></td>
      </tr>
    {% else %}
      <tr class="table-secondary">
          <td>{{ things.item }}</td> 
          <td><center><a href="{% url 'cross_off' things.id %}">Cross Off</a></center></td>
          <td><center><a href="{% url 'delete' things.id %}">Delete</a></center></td>
          <td><center>{{things.author}}</center></td>
      </tr>
    {% endif %}
  {% endfor %}
  </table>
</div>
{% endif %}

{% if all_items %}
<div class="wish-table">
  <h3>Other Wishlists</h3>
  <table class ="table table-bordered">
  {% for things in all_items %}
    <tr>
      <td class ="stricker">{{ things.item }}</td> 
      <td>{% if  things.completed %}Completed{% else %}Not completed{% endif %}</td>
      <td><center>{{things.author}}</center></td>
    </tr>
  {% endfor %}
  </table>
</div>
{% endif %}

{% endblock %}