{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
  {% include 'layout/head.html' %}
</head>

<body style ="padding-top : 75px;" class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
    {% include 'layout/navbar.html' %}
    {% comment %} {% include 'layout/wish.html' %} {% endcomment %}
    

    <div class="container">	
        <div class="row">	
            <div class="col-md-8 offset-md-2">	
                {% for message in messages %}	
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">	
                    {{ message | safe }}	
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>	
                </div>	
                {% endfor %}	
            </div>	
        </div>	
    </div>

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    
    <!-- Footer -->

    {% include 'layout/footer.html' %}

    <!-- JavaScript -->

    {% include 'layout/script.html' %}
    
</body>

</html>