{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

<head>
    
    {% include 'layout/head.html' %}

</head>

<body style ="padding-top : 75px;" class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
    {% include 'layout/navbar.html' %}
    {% comment %} {% include 'layout/wish.html' %} {% endcomment %}
    

    <div class="container">	
        <div class="row">	
            <div class="col-md-8 offset-md-2">	
                {% for message in messages %}	
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">	
                    {{ message | safe }}	
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>	
                </div>	
                {% endfor %}	
            </div>	
        </div>	
    </div>

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    
    <!-- Footer -->

    {% include 'layout/footer.html' %}

    <!-- JavaScript -->

    {% include 'layout/script.html' %}

    
</body>

</html>