{% extends "base.html" %}

{% block content %}

<!-- Background Video -->
<section>
    <div>
        <video autoplay muted loop src="https://res.cloudinary.com/dak5x9tte/video/upload/v1667820169/Travel%20romania/Travel%20to%20romania.mov"
            style="width: 100%;"></video>
        <h1 class="header">Romanian's atractions !!!</h1>
        <p class="header">Do you have a special story that you want to share?
            <br> Please feel free to create your own post.
        </p>
    </div>
</section>

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                {% include 'components/card.html' %}
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}