<footer class="footer mt-auto py-3 dark-bg "style="background-color:#00D5FF;">
    <p class="m-0 text-center font-weight-bold text-dark">Copyright Discover Romania 2022</p>
    <div class="m-0 text-center social-networks">
        <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="facebook"><i
            class="fab fa-facebook-square ms-3"></i></a>
        <a href="https://www.twitter.com" target="_blank" rel="noopener" aria-label="twitter"><i
                class="fab fa-twitter-square ms-3"></i></a>
        <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="instagram"><i
                    class="fab fa-instagram-square ms-3"></i></a>
    </div>                
    
</footer>